{% extends "base.html" %}

{% block title %}service{% endblock %}

{% block content %}
<h2>pickup & Drop-off service</h2>
<h2>warm & Welcoming </h2>

To make your stay even more comfortable, we are happy to offer airport pickup and drop-off services upon request. Whether you are arriving or departing, we can arrange safe and reliable transportation so you can travel stress-free. If you need this service, please let us know your flight details in advance, and we will take care of the rest.
{% endblock %}
